.folder-btn {
	display: block;
	cursor: pointer;
	color: #333333;
	white-space: nowrap;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	padding: 1px;
	padding-left: 5px;
}
.folder-btn .glyphicon {
	font-size: 0.9em;
	margin-right: 15px;
}
.folder-btn:hover {
	background-color: #dfeef5;
}
.folder-btn-active {
	background-color: #b9dff1;
}

.folder-btn .border {
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	-o-border-radius: 0px 6px 6px 0px;
	-ms-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px;
	width: 20px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(244,244,244,0.5) 50%, rgba(244,244,244,1) 100%); /* FF3.6+ */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.folder-btn:hover .border {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(223,238,245,0.5) 50%, rgba(223,238,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(223,238,245,0.5)), color-stop(100%,rgba(223,238,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(223,238,245,0.5) 50%,rgba(223,238,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(223,238,245,0.5) 50%,rgba(223,238,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(223,238,245,0.5) 50%,rgba(223,238,245,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(223,238,245,0.5) 50%,rgba(223,238,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dfeef5',GradientType=1 ); /* IE6-9 */
}

.folder-btn-active .border {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(185,223,241,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(185,223,241,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(185,223,241,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(185,223,241,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(185,223,241,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(185,223,241,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b9dff1',GradientType=1 ); /* IE6-9 */
}

.closeModal {
	background:url("../images/admin/close.png") no-repeat right top;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -13px;
	right: -13px;
	cursor: pointer;
}

#menu-categories {
	overflow: hidden;
	position: relative;
}
#gallery-progress {
	margin: 40px;
}

#no-media-found {
	padding: 30px;
}

#row {
	display: none;
}

#media-sorters {
	margin-bottom: 10px;
}


.element {
	padding: 0px;
}
.element .well {
	margin: 10px;
	padding: 10px;
}
.element .close {
	margin-right: 5px;
	margin-top: 1px;
}
.element .description {
	padding: 10px;
	text-align: center;
}

#modal_show .modal-dialog {
	max-width: 80%;
	width: auto;
}
#modal_show .show-carousel {
	position: relative;
	background: black;
}
#modal_show .item {
	min-height: 500px;
}
#modal_show .item img {
	margin: auto;
}
#modal_show .embed-media-video {
	width: 640px;
	height: 560px;
	vertical-align: middle;
	margin: auto;
	margin-top: 20px;
}
#modal_show .carousel-caption-content {
	width: 100%;
	background: rgba(255,255,255,0.7);
	color: black;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
}

#media-storage {
	display: none;
}