.navbar {
    border-width: 0px 1px 1px; 
    margin-top: -1px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left20 {
    margin-left: 20px;
}
.margin-left30 {
    margin-left: 30px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right25 {
    margin-right: 25px;
}

.margin-right30 {
    margin-right: 30px;
}